body {
    background-color: #28411c;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin: 0;
    padding: 80px 0 0 0;
    color: #FFFFFF;
}

body.play nav {
    display: none;
}

canvas {
    border: 5px solid #000000;
    border-radius: 5px;
}

h1, h2, h3 {
    margin-top: 0;
}

a {
    color: #88DD88;
}

a.active {
    background-color: #000000;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 50px;
}

.state {
    display: none;
}

.state li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 820px) {

    body {
        padding: 0;
    }

    body.credits {
        padding-top: 65px;
    }

    body.credits nav {
        display: block;
    }

    canvas {
        border: 0;
        border-radius: 0;
    }

    nav {
        display: none;
    }
}