body {
    background-color: #28411c;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 820px) {
    canvas {
        border: 5px solid #000000;
        border-radius: 5px;
    }
}

h1, h2, h3 {
    margin-top: 0;
}

a {
    color: #88DD88;
}

li {
    margin-bottom: 10px;
}

.state {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
    padding: 10px;
}